<%- include('../wrapper/header') %>
<div class="flex">
  <%- include('../components/sidenav') %>

  <!-- Responsive Sidebar Button -->
  <div class="md:hidden p-4">
    <button id="menu-btn" class="text-blue-900 focus:outline-none">
      <svg
        id="hamburger-icon"
        class="w-8 h-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
      <svg
        id="close-icon"
        class="w-8 h-8 hidden"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
  </div>

  <!-- Main Content (Tabs) -->
  <div class="flex-1 md:ml-40 p-8">
    <div class="overflow-x-auto">
      <div class="flex justify-start my-5">
        <h1 class="text-3xl font-bold"><%= data.name %></h1>
      </div>
      <div class="flex justify-start rounded-none mb-4 space-x-4">
        <a href="/admin/user/<%= id %>"
          id="profile-tab"
          class="tab-button active px-10 py-2 rounded-lg bg-blue-700 text-white hover:bg-blue-500"
          onclick="setActiveTab('profile-tab')"
        >
          Profile
        </a>
        <a href="/admin/user/<%= data.id %>/blogs"
          id="blogs-tab"
          class="tab-button px-10 py-2 rounded-lg bg-blue-700 text-white hover:bg-blue-500"
          onclick="setActiveTab('blogs-tab')"
        >
          Blogs
        </a>
        <a href="/admin/user/<%= id %>/forums"
          id="forums-tab"
          class="tab-button px-10 py-2 rounded-lg bg-blue-700 text-white hover:bg-blue-500"
          onclick="setActiveTab('forums-tab')"
        >
          Forums
        </a>
      </div>
    </div>
  </div>
</div>

  <!-- Main Content (Table) -->
  <div class="flex-1 md:ml-40 p-8">
    <div class="overflow-x-auto">
      <div class="flex items-center justify-center">
        <div
          class="w-full max-w-xl p-6 max-sm:w-full max-sm:p-0"
          data-aos="zoom-in"
          data-aos-duration="2000"
          data-aos-delay="500"
        >
        <form id="updateForm" class="bg-[#ffffff] rounded-lg shadow-lg p-8 space-y-4">
          <div class="flex justify-center mb-2">
            <img src="/profile.png" alt="User Icon" class="h-28 w-28" />
          </div>
          <div class="mb-4  flex flex-col md:flex-row md:space-x-4">
          <!-- Name Field -->
          <div class="mb-4 flex-1">
            <label for="name" class="block text-lg font-medium mb-2">Name</label>
            <div class="relative">
              <input
                type="text"
                id="name"
                placeholder="Enter Your Name"
                value="<%= data.name %>"
                required
                readonly
                class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              <img
                src="/user.png"
                class="absolute right-2 top-3 h-5 w-5"
                alt="user"
              />
            </div>
          </div>
  
          <!-- Email Field -->
          <div class="mb-4 flex-1">
            <label for="email" class="block text-lg font-medium mb-2">Email</label>
            <div class="relative">
              <input
                type="email"
                id="email"
                value="<%= data.email %>"
                required
                readonly
                placeholder="Enter Your Email"
                class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              <img
                src="/mail.png"
                class="absolute right-2 top-3 h-5 w-5"
                alt="mail"
              />
            </div>
            <small id="emailError" class="text-red-500 mt-2 hidden">
              * Wrong Email
            </small>
          </div>
          </div>
  
  
          <!-- Phone and Role Fields -->
          <div class="mb-4 flex flex-col md:flex-row md:space-x-4">
            <!-- Phone Number Field -->
            <div class="flex-1 mb-4 md:mb-0">
              <label for="phone" class="block text-lg font-medium mb-2">Phone Number</label>
              <div class="relative">
                <input
                  type="tel"
                  id="phone"
                  value="<%= data.phone %>"
                  readonly
                  placeholder="Enter Your Phone Number"
                  class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
                <input type="hidden" name="id" id="id" value="<%= data.id %>">
                <img
                  src="/phone.png"
                  class="absolute right-2 top-3 h-5 w-5"
                  alt="phone"
                />
                <small id="phoneError" class="text-red-500 mt-2 hidden">
                  * Invalid Mobile
                </small>
              </div>
            </div>
  
            <!-- Role Dropdown -->
            <div class="flex-1">
              <label for="role" class="block text-lg font-medium mb-2">Role</label>
              <select
                id="role"
                required
                disabled
                class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              >
                <option value="" disabled>Select Your Role</option>
                <option value="user" <% if (data.role === 'user') { %> selected <% } %>>User</option>
                <option value="editor" <% if (data.role === 'editor') { %> selected <% } %>>Editor</option>
                <option value="author" <% if (data.role === 'author') { %> selected <% } %>>Author</option>
                <option value="seo" <% if (data.role === 'seo') { %> selected <% } %>>SEO</option>
                <option value="member" <% if (data.role === 'member') { %> selected <% } %>>Member</option>
              </select>
            </div>
          </div>
  
          <!-- Bio Textarea -->
          <div class="mb-4">
            <label for="bio" class="block text-lg font-medium mb-2">Bio</label>
            <textarea
              id="bio"
              rows="4"
              readonly
              placeholder="Tell us about yourself"
              class="w-full px-4 py-2 bg-gray-50 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            ><%= data.bio %></textarea>
            <small id="bioError" class="text-red-500 mt-2 hidden">
              * Bio Error
            </small>
          </div>
  
          <!-- Submit Button -->
          <button
            type="submit"
            class="w-full py-2 bg-[#3294de] text-md hover:bg-[#2178c0] rounded-lg font-semibold text-white"
            disabled
          >
            Update Account
          </button>
        </form>
        <div
        id="alertMessage"
        class="mt-5 p-4 bg-green-500 text-white text-center rounded-md text-lg absolute bottom-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2"
        style="display: none"
      >
        Form submitted successfully!
      </div>
        </div>
      </div>
    </div>
  </div>

<script>
  function setActiveTab(activeTabId) {
    const tabs = document.querySelectorAll(".tab-button");
    tabs.forEach((tab) => {
      if (tab.id === activeTabId) {
        tab.classList.add("active");
        tab.classList.remove("bg-blue-700");
        tab.classList.add("bg-blue-500");
      } else {
        tab.classList.remove("active");
        tab.classList.add("bg-blue-700");
        tab.classList.remove("bg-blue-500");
      }
    });
  }
</script>

<%- include('../wrapper/footer') %>
